In [20]:
import pandas as pd
import random
import os
import math
from pprint import pprint
os.getcwd()

'/mnt/d/entea/Lectures/iccd332ArqComp-2024-B'

Generando grupos de trabajos segun el

In [21]:
# read excel
path_2_excel_file = "/mnt/d/OneDrive - Escuela Politécnica Nacional/General - ICCD332-ArquitecturaComputadores/ListaEstudiantes2025B.xls.xlsx"
parent_dir = os.path.dirname(path_2_excel_file)
print(parent_dir)
sheet_name = "ListaEstudiantes"
num_grupos = 10
df = pd.read_excel(path_2_excel_file, sheet_name=sheet_name)
df.head()

/mnt/d/OneDrive - Escuela Politécnica Nacional/General - ICCD332-ArquitecturaComputadores

,Nro.,Código,Estudiante,E-mail Personal,E-mail EPN,Teléfono1,Teléfono2,Carrera,Estatus,Estela1,Estela2,Estela3,TallerMarkDown,TallerMarkDown2,GrupoTaller_Aritmetica,JupyterLab
0,1,202411739,ALOMOTO SANGUÑA ISMAEL PATRICIO,ismael_ipas2005@hotmail.com,ismael.alomoto@epn.edu.ec,2416953,NaN,(RRA20) CIENCIA DE DATOS E INTELIGENCIA ARTIFI...,Matriculados,0.2,NaN,NaN,B,Ausente,NaN,C
1,2,202420875,AMANTA ANDRANGO DAVID ESTEBAN,amanta.david10@gmail.com,david.amanta@epn.edu.ec,0998957029,NaN,(RRA20) CIENCIA DE DATOS E INTELIGENCIA ARTIFI...,Matriculados,NaN,NaN,NaN,B,no sabe convertir a hex,NaN,Falta
2,3,202420826,ARIAS FAICAN CAMILA VALENTINA,fcamilitaarias@gmail.com,camila.arias@epn.edu.ec,023263062,NaN,(RRA20) CIENCIA DE DATOS E INTELIGENCIA ARTIFI...,Matriculados,NaN,NaN,NaN,A,NaN,NaN,D
3,4,202421166,BETANCOURT VELEZ ENRIQUE MATEO,emateob@hotmail.com,enrique.betancourt@epn.edu.ec,022631157,NaN,(RRA20) CIENCIA DE DATOS E INTELIGENCIA ARTIFI...,Matriculados,NaN,NaN,NaN,B,NaN,NaN,D
4,5,202420674,BOMBON TOCA NAOMY KARELY,karelybombon20@gmail.com,naomy.bombon@epn.edu.ec,0983221323,NaN,(RRA20) CIENCIA DE DATOS E INTELIGENCIA ARTIFI...,Matriculados,NaN,NaN,NaN,C,NaN,NaN,D

In [22]:
estudiantes = df["Estudiante"].tolist()
estudiantes = df["Estudiante"].sample(frac=1, random_state=42).tolist()
# Asignar grupos
asignaciones = []
for i, nombre in enumerate(estudiantes):
    grupo = f"Grupo {i % num_grupos + 1}"
    asignaciones.append({"Estudiante": nombre, "Grupo": grupo})
pprint(asignaciones)
# Convertir a DataFrame
df_out = pd.DataFrame(asignaciones)

# Merge group assignments with original student info to include E-mail EPN (and keep other useful columns if desired)
# Use a left join on 'Estudiante' so every assigned student keeps their EPN email from the original dataframe
df_emails = df[["Estudiante", "E-mail EPN"]].drop_duplicates(subset=["Estudiante"])
df_out = df_out.merge(df_emails, on="Estudiante", how="left")

# Optional: move 'Grupo' to the end of the dataframe columns for readability
cols = [col for col in df_out.columns if col != "Grupo"] + ["Grupo"]
df_out = df_out[cols]

# Guardar en CSV y Excel
output_file_name = f"binaryAritmeticPractice_{num_grupos}-Teams.xlsx"
output_path = os.path.join(parent_dir, output_file_name)
# df_out.to_csv("grupos.csv", index=False)
df_out.to_excel(output_path, index=False)

[{'Estudiante': 'LOPEZ PATIÑO ETHAN JERIEL', 'Grupo': 'Grupo 1'},
 {'Estudiante': 'DURAN REYNA JOHN EDUARDO', 'Grupo': 'Grupo 2'},
 {'Estudiante': 'BOMBON TOCA NAOMY KARELY', 'Grupo': 'Grupo 3'},
 {'Estudiante': 'ROSERO ACERO ANDRE ALEXIS', 'Grupo': 'Grupo 4'},
 {'Estudiante': 'VALENCIA MONTEROS MAURO ALEXANDER', 'Grupo': 'Grupo 5'},
 {'Estudiante': 'QUINATOA CEDEÑO JUAN IGNACIO', 'Grupo': 'Grupo 6'},
 {'Estudiante': 'CARLOSAMA RECALDE ELVIS JHOEL', 'Grupo': 'Grupo 7'},
 {'Estudiante': 'REVELO OSPINA JADE NAOMY', 'Grupo': 'Grupo 8'},
 {'Estudiante': 'PAUCAR MORENO VANESSA ALEJANDRA', 'Grupo': 'Grupo 9'},
 {'Estudiante': 'LEON CAMACHO RICARDO LEANDRO', 'Grupo': 'Grupo 10'},
 {'Estudiante': 'CEVALLOS ANDRADE CARLOS ISMAEL', 'Grupo': 'Grupo 1'},
 {'Estudiante': 'JACOME GARCIA JUAN SEBASTIAN', 'Grupo': 'Grupo 2'},
 {'Estudiante': 'CRESPO RUIZ SAMUEL IGNACIO', 'Grupo': 'Grupo 3'},
 {'Estudiante': 'SARRIA MORALES ISAAC JOSUE', 'Grupo': 'Grupo 4'},
 {'Estudiante': 'CHAMPUTIZ RAMOS JOEL ALEJANDRO', 'Grupo': 'Grupo 5'},
 {'Estudiante': 'MERCHAN PUMA NAYELI SOLANGE', 'Grupo': 'Grupo 6'},
 {'Estudiante': 'ALOMOTO SANGUÑA ISMAEL PATRICIO', 'Grupo': 'Grupo 7'},
 {'Estudiante': 'SALAZAR ZURITA LUZ SAMARA', 'Grupo': 'Grupo 8'},
 {'Estudiante': 'CARDENAS VALAREZO MATEO JOSUE', 'Grupo': 'Grupo 9'},
 {'Estudiante': 'CORRAL DAVALOS ANA CAROLINA', 'Grupo': 'Grupo 10'},
 {'Estudiante': 'AMANTA ANDRANGO DAVID ESTEBAN', 'Grupo': 'Grupo 1'},
 {'Estudiante': 'ROJAS BALSECA CARLOS STEVEN', 'Grupo': 'Grupo 2'},
 {'Estudiante': 'NAVARRETE ANASI DENNIS ALEJANDRO', 'Grupo': 'Grupo 3'},
 {'Estudiante': 'ARIAS FAICAN CAMILA VALENTINA', 'Grupo': 'Grupo 4'},
 {'Estudiante': 'VEINTIMILLA VELASQUEZ BRENDA JOHANA', 'Grupo': 'Grupo 5'},
 {'Estudiante': 'TRUJILLO SALAZAR ADRIAN MAURICIO', 'Grupo': 'Grupo 6'},
 {'Estudiante': 'BETANCOURT VELEZ ENRIQUE MATEO', 'Grupo': 'Grupo 7'},
 {'Estudiante': 'TIUPUL IRUA JHON JAIRO', 'Grupo': 'Grupo 8'},
 {'Estudiante': 'PAREDES CABRERA DAVID MATEO', 'Grupo': 'Grupo 9'},
 {'Estudiante': 'SALAZAR CEDEÑO AMBAR SIMONE', 'Grupo': 'Grupo 10'},
 {'Estudiante': 'CHANGO PARRA AZAELA SKARLETTE', 'Grupo': 'Grupo 1'},
 {'Estudiante': 'PAEZ CORELLA ERICK RODRIGO', 'Grupo': 'Grupo 2'},
 {'Estudiante': 'MARTINEZ GUERRERO DOMENICA MICAELA', 'Grupo': 'Grupo 3'},
 {'Estudiante': 'MUÑOZ CARVAJAL JOHAN SEBASTIAN', 'Grupo': 'Grupo 4'},
 {'Estudiante': 'CARTAGENA TOAQUIZA JORDY ARIEL', 'Grupo': 'Grupo 5'},
 {'Estudiante': 'GRANDA BETANCOURT PAULA CAMILA', 'Grupo': 'Grupo 6'},
 {'Estudiante': 'ROMO NAVAS MARIA PAULA', 'Grupo': 'Grupo 7'}]

In [23]:
# df_out.sort_values(by=["Grupo", "Estudiante"], inplace=True)
df_out.head(10)

                          Estudiante                  E-mail EPN     Grupo
0          LOPEZ PATIÑO ETHAN JERIEL    ethan.lopez02@epn.edu.ec   Grupo 1
1           DURAN REYNA JOHN EDUARDO       john.duran@epn.edu.ec   Grupo 2
2           BOMBON TOCA NAOMY KARELY     naomy.bombon@epn.edu.ec   Grupo 3
3          ROSERO ACERO ANDRE ALEXIS     andre.rosero@epn.edu.ec   Grupo 4
4  VALENCIA MONTEROS MAURO ALEXANDER   mauro.valencia@epn.edu.ec   Grupo 5
5       QUINATOA CEDEÑO JUAN IGNACIO    juan.quinatoa@epn.edu.ec   Grupo 6
6      CARLOSAMA RECALDE ELVIS JHOEL  elvis.carlosama@epn.edu.ec   Grupo 7
7           REVELO OSPINA JADE NAOMY      jade.revelo@epn.edu.ec   Grupo 8
8    PAUCAR MORENO VANESSA ALEJANDRA   vanessa.paucar@epn.edu.ec   Grupo 9
9       LEON CAMACHO RICARDO LEANDRO   ricardo.leon02@epn.edu.ec  Grupo 10

Generando segun la cantidad de integrantes

In [24]:
# read excel
df_integrantes = pd.read_excel(path_2_excel_file, sheet_name=sheet_name)
# Set desired number of members per group
members_per_group = 3

# Shuffle deterministically for reproducible groups
estudiantes = df["Estudiante"].sample(frac=1, random_state=42).tolist()

# Compute how many groups are needed (ceil)
num_grupos = math.ceil(len(estudiantes) / members_per_group)

# Asignar grupos: fill groups sequentially up to members_per_group each
asignaciones = []
for i, nombre in enumerate(estudiantes):
    grupo = f"Grupo {i // members_per_group + 1}"
    asignaciones.append({"Estudiante": nombre, "Grupo": grupo})
pprint(asignaciones)
# Convertir a DataFrame
df_out_integrantes = pd.DataFrame(asignaciones)

df_emails = df_integrantes[["Estudiante", "E-mail EPN"]]
df_out_integrantes = df_out_integrantes.merge(df_emails, on="Estudiante", how="left")

# Optional: move 'Grupo' to the end of the dataframe columns for readability
cols = [col for col in df_out_integrantes.columns if col != "Grupo"] + ["Grupo"]
df_out_integrantes = df_out_integrantes[cols]
# Guardar en CSV y Excel
output_file_name = f"binaryAritmeticPractice-{members_per_group}P.xlsx"
output_path = os.path.join(parent_dir, output_file_name)
# df_out.to_csv("grupos.csv", index=False)
df_out_integrantes.to_excel(output_path, index=False)

[{'Estudiante': 'LOPEZ PATIÑO ETHAN JERIEL', 'Grupo': 'Grupo 1'},
 {'Estudiante': 'DURAN REYNA JOHN EDUARDO', 'Grupo': 'Grupo 1'},
 {'Estudiante': 'BOMBON TOCA NAOMY KARELY', 'Grupo': 'Grupo 1'},
 {'Estudiante': 'ROSERO ACERO ANDRE ALEXIS', 'Grupo': 'Grupo 2'},
 {'Estudiante': 'VALENCIA MONTEROS MAURO ALEXANDER', 'Grupo': 'Grupo 2'},
 {'Estudiante': 'QUINATOA CEDEÑO JUAN IGNACIO', 'Grupo': 'Grupo 2'},
 {'Estudiante': 'CARLOSAMA RECALDE ELVIS JHOEL', 'Grupo': 'Grupo 3'},
 {'Estudiante': 'REVELO OSPINA JADE NAOMY', 'Grupo': 'Grupo 3'},
 {'Estudiante': 'PAUCAR MORENO VANESSA ALEJANDRA', 'Grupo': 'Grupo 3'},
 {'Estudiante': 'LEON CAMACHO RICARDO LEANDRO', 'Grupo': 'Grupo 4'},
 {'Estudiante': 'CEVALLOS ANDRADE CARLOS ISMAEL', 'Grupo': 'Grupo 4'},
 {'Estudiante': 'JACOME GARCIA JUAN SEBASTIAN', 'Grupo': 'Grupo 4'},
 {'Estudiante': 'CRESPO RUIZ SAMUEL IGNACIO', 'Grupo': 'Grupo 5'},
 {'Estudiante': 'SARRIA MORALES ISAAC JOSUE', 'Grupo': 'Grupo 5'},
 {'Estudiante': 'CHAMPUTIZ RAMOS JOEL ALEJANDRO', 'Grupo': 'Grupo 5'},
 {'Estudiante': 'MERCHAN PUMA NAYELI SOLANGE', 'Grupo': 'Grupo 6'},
 {'Estudiante': 'ALOMOTO SANGUÑA ISMAEL PATRICIO', 'Grupo': 'Grupo 6'},
 {'Estudiante': 'SALAZAR ZURITA LUZ SAMARA', 'Grupo': 'Grupo 6'},
 {'Estudiante': 'CARDENAS VALAREZO MATEO JOSUE', 'Grupo': 'Grupo 7'},
 {'Estudiante': 'CORRAL DAVALOS ANA CAROLINA', 'Grupo': 'Grupo 7'},
 {'Estudiante': 'AMANTA ANDRANGO DAVID ESTEBAN', 'Grupo': 'Grupo 7'},
 {'Estudiante': 'ROJAS BALSECA CARLOS STEVEN', 'Grupo': 'Grupo 8'},
 {'Estudiante': 'NAVARRETE ANASI DENNIS ALEJANDRO', 'Grupo': 'Grupo 8'},
 {'Estudiante': 'ARIAS FAICAN CAMILA VALENTINA', 'Grupo': 'Grupo 8'},
 {'Estudiante': 'VEINTIMILLA VELASQUEZ BRENDA JOHANA', 'Grupo': 'Grupo 9'},
 {'Estudiante': 'TRUJILLO SALAZAR ADRIAN MAURICIO', 'Grupo': 'Grupo 9'},
 {'Estudiante': 'BETANCOURT VELEZ ENRIQUE MATEO', 'Grupo': 'Grupo 9'},
 {'Estudiante': 'TIUPUL IRUA JHON JAIRO', 'Grupo': 'Grupo 10'},
 {'Estudiante': 'PAREDES CABRERA DAVID MATEO', 'Grupo': 'Grupo 10'},
 {'Estudiante': 'SALAZAR CEDEÑO AMBAR SIMONE', 'Grupo': 'Grupo 10'},
 {'Estudiante': 'CHANGO PARRA AZAELA SKARLETTE', 'Grupo': 'Grupo 11'},
 {'Estudiante': 'PAEZ CORELLA ERICK RODRIGO', 'Grupo': 'Grupo 11'},
 {'Estudiante': 'MARTINEZ GUERRERO DOMENICA MICAELA', 'Grupo': 'Grupo 11'},
 {'Estudiante': 'MUÑOZ CARVAJAL JOHAN SEBASTIAN', 'Grupo': 'Grupo 12'},
 {'Estudiante': 'CARTAGENA TOAQUIZA JORDY ARIEL', 'Grupo': 'Grupo 12'},
 {'Estudiante': 'GRANDA BETANCOURT PAULA CAMILA', 'Grupo': 'Grupo 12'},
 {'Estudiante': 'ROMO NAVAS MARIA PAULA', 'Grupo': 'Grupo 13'}]

In [25]:
df_out_integrantes.head()

                          Estudiante                 E-mail EPN    Grupo
0          LOPEZ PATIÑO ETHAN JERIEL   ethan.lopez02@epn.edu.ec  Grupo 1
1           DURAN REYNA JOHN EDUARDO      john.duran@epn.edu.ec  Grupo 1
2           BOMBON TOCA NAOMY KARELY    naomy.bombon@epn.edu.ec  Grupo 1
3          ROSERO ACERO ANDRE ALEXIS    andre.rosero@epn.edu.ec  Grupo 2
4  VALENCIA MONTEROS MAURO ALEXANDER  mauro.valencia@epn.edu.ec  Grupo 2

In [26]:
parent_dir

'/mnt/d/OneDrive - Escuela Politécnica Nacional/General - ICCD332-ArquitecturaComputadores'